
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Instrument+Sans&family=Montserrat&family=Open+Sans:wght@700&family=Oswald:wght@300&family=Poppins:ital,wght@0,400;1,300&family=Raleway:ital,wght@0,400;1,300&family=Roboto:ital,wght@0,100;1,100&display=swap');


*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}
/* navbar */
.nav-item a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: all 0.4s;
}
.nav-item a:hover{
    color:darkgreen;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
}
#search{
    height:45px;
    outline: none;
    border: 2px solid rgb(162, 226, 162) ;
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
    box-shadow: none;
    
}
.btn1{
    height: 45px;
    outline: none;
    border: none;
    background-color:  rgb(11, 167, 11);
    color:white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}
/* main */
.main{
    background: url(./images/apples-g6834a8585_1280.jpg) no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
}
.btn2{
   height: 50px;
   width: 25%;
   outline:none;
   border:none;
   color:white;
   border-radius: 50px;
   transition:  all 0.4s;
  
}
.about{
    height: 100vh;
    width:100%;
}
/* .btn3{
    height:45px;
    outline: none;
   border:nofont-family: 'Dancing Script', cursive;ne;
   padding: 10px;
    background-color: transparent;
    border-radius: 20px 20px 20px 20px;
    border-right: none;
    box-shadow: none;
} */
/* products */
.img-fluid{
    height:50px;
    width:100%;
    
}

#img{
    height:215.64px;
    width:100%;

}

#border{
    border-radius: 27px 27px 27px 34px;
-webkit-border-radius: 27px 27px 27px 34px;
-moz-border-radius: 27px 27px 27px 34px;
 background-color: rgb(229, 236, 241);
 border-color: rgba(177, 171, 171, 0.767);

}
#border:hover{
    background-image: linear-gradient(144deg,#2e6628, 50%,#00DDEB);
    color:white;
    transform: translate(-1px,-12px);
-webkit-transform: translate(-1px,-12px);
-moz-transform: translate(-1px,-12px);

}


.product{
    background-color: rgb(153, 80, 80);
}

/* footer */
.main2{
    opacity:100% ;
    background: url(./images/fruit-g680a28f3d_1280.jpg) no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
    
}
#text{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Dancing Script', cursive;
}


